
h1{ text-align: center;
    font-size: 3em;
    }

.center {text-align: center;}

.work1{float:left;width:30%;clear:both;
    clear:left;}

.work2{float:left;width:30%;clear:both;
    clear:right;}




